html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: grid;
  gap: 20px;
}

.menuitem {
  cursor: pointer;
  color: #666;
}

.selected {
  color: #000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 420px);
  grid-gap: 1rem;
}

.foodlist {
  padding-inline-start: 0px;
}

.fooditem {
  padding-bottom: 10px;
}

.plainlink {
  text-decoration: none;
  color: inherit;
}

.icon {
  padding-right: 5px;
}